* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
body {
  background: rgb(246, 246, 246);
}

.navbarContainer {
  /* width: 80%; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* padding: 10px 0; */
}

@media (min-width: 576px) {
  .navbarContainer {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .navbarContainer {
    max-width: 720px;
  }
}

@media screen and (max-width: 991px) {
  .navbarContainer {
    padding: 10px 0;
  }
}

@media (min-width: 1300px) {
  .navbarContainer {
    max-width: 1140px;
  }
}

@media screen and (min-width: 991px) {
  .navbarContainer {
    max-width: 1200px;
  }
}




.icon-phone, .icon-envelope {
  font-family: 'simple-line-icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa, .far, .fas {
  font-family: "Font Awesome 5 Free" !important;
}
.swiper-button-next, .swiper-button-prev {
  position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    width: 40px !important;
    height: 40px !important;
    line-height: 30px !important;

    transition: all 0.3s;
    margin: auto;
    border-radius: 50%;
    text-align: center;
    color: black!important;
    box-shadow: 0 3px 25.5px 4.5px rgb(0 0 0 / 6%);
    color: #212121;
    background-color: #fff;
}
.swiper-button-next::after {
  font-size: 18px !important;
  margin: 2px -3px 0 0;
}
.swiper-button-prev::after {
  font-size: 18px !important;
  margin: 2px 3px 0 0;
}